g.node circle{
    fill: #ffffff;
    stroke: #333;
}
g.node rect{
    fill: #ffffff;
    stroke: #333;
}
g.edgePath .path {
    stroke: #000000!important;
    fill: transparent!important;
    stroke-dasharray: 0, 0!important;
}
