header{
    background-color: #1288c3;
    height: 100px;

}
#title{
    font-size: 36px;
    padding: 10px 20px;
    margin: auto;
    width: fit-content;
    float: left;
}
#intr_table{
    margin-top: 16px;
    margin-left: 150px;
}
#intr_table li{
    font-size: 20px;
    margin-right: 20px;
}
#intr_table li a{
    color: white!important;
    font-weight: normal;
}
#intr_table li a:visited{
    background-color: #1c84c6;
}
#intr_table li a:hover{
    background-color: #1c84c6;
    text-decoration: underline;
}
#intr_table li a:active{
    background-color: #1c84c6;
}
.title-section {
    margin-bottom: 10px;
}
.workflow-title-section {
    margin-bottom: 50px;
}

.content-title {
    font-size: 30px;
    font-weight: 600;
}
.subTitle{
    font-size: 25px;
    margin-bottom: 0px;
    display: inline-block;
}
.my-button{
    margin: 30px 20px 30px 0;
    padding: 5px 20px 10px 20px;
    font-size: 20px;
    border: 0px;
    color: white;
}
.my-button-group {
    position: relative;
    display: inline-block;
    float: right;
    margin-top: 5px;
}
.my-button-sm {
    margin: 0 5px 0 0;
}

.thead-style {
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: bold;
}
.thead-style label {
    font-weight: bold;
}
.my-checkbox{
    margin-top: 0;
    margin-bottom: 0;
    word-break: break-all;
}

.name{
    /*width: 400px;*/
    word-break: break-all;
}
.categories{
    /*width: 450px;*/
    word-break: break-all;
}
.smallbox{
    width: 200px;
    word-break: break-all;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

}
.description{
    /*width: 480px;*/
    word-break: break-all;
}
#p2_content1{
    /*display: inline-block;
    margin-right: 100px;*/
}
#p2_content2{
    display: inline-block;
}

.inline-div {
    display: inline-block;
}
.float-left {
    float: left;
}


.margin-right-100 {
    margin-right: 100px;
}

.white-pink {
margin-left:auto;
margin-right:auto;
max-width: 500px;
background: #FFF;
padding: 30px 30px 20px 30px;
box-shadow: rgba(187, 187, 187, 1) 0 0px 20px -1px;
-webkit-box-shadow: rgba(187, 187, 187, 1) 0 0px 20px -1px;
font: 12px Arial, Helvetica, sans-serif;
color: #666;
border-radius: 10px;
-webkit-border-radius: 10px;
}
.white-pink h1 {
font: 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
padding: 0px 0px 10px 40px;
display: block;
border-bottom: 1px solid #F5F5F5;
margin: -10px -30px 10px -30px;
color: #969696;
}
.white-pink h1>span {
display: block;
font-size: 11px;
color: #C4C2C2;
}
.white-pink label {
display: block;
margin: 0px 0px 5px;
}
.white-pink label>span {
float: left;
width: 20%;
text-align: right;
padding-right: 10px;
margin-top: 10px;
color: #969696;
}
.white-pink input[type="text"], .white-pink input[type="email"], .white-pink textarea,.white-pink select{
color: #555;
width: 70%;
padding: 3px 0px 3px 5px;
margin-top: 2px;
margin-right: 6px;
margin-bottom: 16px;
border: 1px solid #e5e5e5;
background: #fbfbfb;
height: 25px;
line-height:15px;
outline: 0;
-webkit-box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
}
.white-pink textarea{
padding: 5px 0px 0px 5px;
}
.white-pink .button {
-moz-box-shadow:inset 0px 1px 0px 0px #fbafe3;
-webkit-box-shadow:inset 0px 1px 0px 0px #fbafe3;
box-shadow:inset 0px 1px 0px 0px #fbafe3;
background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff5bb0), color-stop(1, #ef027d) );
background:-moz-linear-gradient( center top, #ff5bb0 5%, #ef027d 100% );
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bb0', endColorstr='#ef027d');
background-color:#ff5bb0;
border-radius:9px;
-webkit-border-radius:9px;
-moz-border-border-radius:9px;
border:1px solid #ee1eb5;
display:inline-block;
color:#ffffff;
font-family:Arial;
font-size:15px;
font-weight:bold;
font-style:normal;
height: 40px;
line-height: 30px;
width:100px;
text-decoration:none;
text-align:center;
text-shadow:1px 1px 0px #c70067;
}
.white-pink .button:hover {
background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ef027d), color-stop(1, #ff5bb0) );
background:-moz-linear-gradient( center top, #ef027d 5%, #ff5bb0 100% );
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ef027d', endColorstr='#ff5bb0');
background-color:#ef027d;
}
.white-pink .button:active {
position:relative;
top:1px;
}