header{
    background-color: #1288c3;
    height: 100px;

}
#title{
    font-size: 36px;
    padding: 10px 20px;
    margin: auto;
    width: fit-content;
    float: left;
}
#intr_table{
    margin-top: 16px;
    margin-left: 150px;
}
#intr_table li{
    font-size: 20px;
    margin-right: 20px;
}
#intr_table li a{
    color: white!important;
    font-weight: normal;
}
#intr_table li a:visited{
    background-color: #1c84c6;
}
#intr_table li a:hover{
    background-color: #1c84c6;
    text-decoration: underline;
}
#intr_table li a:active{
    background-color: #1c84c6;
}
.title-section {
    margin-bottom: 10px;
}
.workflow-title-section {
    margin-bottom: 50px;
}

.content-title {
    font-size: 30px;
    font-weight: 600;
}
.subTitle{
    font-size: 25px;
    margin-bottom: 0px;
    display: inline-block;
}
.my-button{
    margin: 30px 20px 30px 0;
    padding: 5px 20px 10px 20px;
    font-size: 20px;
    border: 0px;
    color: white;
}
.my-button-group {
    position: relative;
    display: inline-block;
    float: right;
    margin-top: 5px;
}
.my-button-sm {
    margin: 0 5px 0 0;
}

.thead-style {
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: bold;
}
.thead-style label {
    font-weight: bold;
}
.my-checkbox{
    margin-top: 0;
    margin-bottom: 0;
    word-break: break-all;
}

.name{
    /*width: 400px;*/
    word-break: break-all;
}
.categories{
    /*width: 450px;*/
    word-break: break-all;
}
.smallbox{
    width: 200px;
    word-break: break-all;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

}
.description{
    /*width: 480px;*/
    word-break: break-all;
}
#p2_content1{
    display: inline-block;
    margin-right: 100px;
}
#p2_content2{
    display: inline-block;
}

.inline-div {
    display: inline-block;
}
.float-left {
    float: left;
}


.margin-right-100 {
    margin-right: 100px;
}